#root {
  margin: 0 auto;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.Card h1 {
  font-size: 2em;
}

.dark-color {
  background-color: rgba(77, 170, 224, 1);
  color: rgb(254, 254, 254);
}

.light-color-1 {
  background: linear-gradient(45deg, rgba(210, 241, 250, 1), rgba(255, 255, 255, 1));
  color: rgba(31, 51, 87, 1);
}

.light-color-2 {
  background: linear-gradient(135deg, rgba(210, 241, 250, 1), rgba(255, 255, 255, 1));
  color: rgba(31, 51, 87, 1);
}

.name {
  font-weight: 600;
}

.bio {
  font-weight: 400;
}

.bio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  padding-top: 5em;
}

.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding-top: 5em;
}

.Showcase {
  width: 50%;
  min-width: 500px;
  border: 1px solid black;
}

.Showcase-Group {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 5em;
  margin: 0 auto;
}

.Showcase-Left {
  align-self: flex-start;
  margin-left: 2em;
}

.Showcase-Right {
  align-self: flex-end;
  margin-right: 2em;
}

.Showcase-Image {
  max-width: '5vw'
}