#root {
  margin: 0 auto;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.hidden {
  opacity: 0;
  margin: 0;
  transition: all 1s;
}

@media(prefers-reduced-motion) {
  .hidden{
    transition: none;
  }
}

.show {
  opacity: 1;
  margin-bottom: 1em;
}

.Card h1 {
  font-size: 2em;
}

.dark-color {
  background: rgba(77, 170, 224, 1);
  background-color: rgba(77, 170, 224, 1);
  color: rgb(254, 254, 254);
}

img {
  padding: 0.5em 0.25em;
}

.light-color-1 {
  background: linear-gradient(0deg, rgba(210, 241, 250, 1), rgba(255, 255, 255, 1));
  color: rgba(31, 51, 87, 1);
}

.light-color-2 {
  background: linear-gradient(180deg, rgba(210, 241, 250, 1), rgba(255, 255, 255, 1));
  color: rgba(31, 51, 87, 1);
}

.light-color-3 {
  background: linear-gradient(315deg, rgba(77, 170, 224, 1), rgba(210, 241, 250, 1));
  color: white;
}

.light-color-4 {
  background: linear-gradient(45deg, rgba(77, 170, 224, 1), rgba(210, 241, 250, 1));
  color: white;
}

.name {
  font-weight: 600;
}

.bio {
  font-weight: 400;
}

.bio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  padding-top: 5em;
}

.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding-top: 5em;
  min-height: 100vh;
}

.tech-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.showcase {
  width: 50%;
  min-width: 400px;
  border: 1px solid black;
}

.showcase-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 7em;
  margin: 0 auto;
}

.showcase-title, .showcase-description {
  color: white;
}

.Showcase-Left {
  align-self: flex-start;
  margin-left: 2em;
}

.Showcase-Right {
  align-self: flex-end;
  margin-right: 2em;
}

.showcase-image {
  max-width: '5vw'
}

.contact-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5em 0;
  margin: 0 auto;
  min-height: 100vh;
}

.contact-card {
  width: 50%;
  margin: 0 auto;
}

.contact-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding: 1em 0;
}

form input, textarea {
  background-color: white;
  color: black;
}