#root {
  margin: 0 auto;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.dark-color {
  background-color: rgb(0, 128, 191);
  color: rgb(204, 249, 255);
}

.light-color-1 {
  background-color: rgb(204, 249, 255);
  color: rgb(0, 172, 223);
}

.light-color-2 {
  background-color: rgb(124, 232, 255);
  color: rgb(0, 172, 223);
}

.name {
  font-weight: 600;
}

.bio {
  font-weight: 400;
}

.bio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  padding-top: 5em;
}

.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding-top: 5em;
}

.Showcase {
  width: 100%;
  border: 1px solid black;
}

.Showcase-Group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 5em;
}

.Showcase-Image {
  max-width: '5vw'
}